*
{
    margin: 0;
    padding: 0;
}
header{
background-color: blueviolet;
color: burlywood;
text-align: center;
height: 100px;
}
header h1{
padding-top: 30px;

}
nav{
    background-color: crimson;
    text-align: center;
    color: darkgray;
    height: 100px;
}
nav h1{
    padding-top: 30px;

}
.middle{
height: 600px;
background-color: darkslateblue;
overflow: hidden;

}
.left{
background-color: darkslategray;
width: 60%;
}
.top{
    height: 300px;
    background-color: forestgreen;

}
.bottom{
    height: 300px;
    background-color: gold;

}
.right{
    width: 40%;
    background-color: darkslategrey;

}
footer h1{
    text-align: center;
    padding-top: 35px;
    
}
footer{
    height: 100px;
    color: ivory;
    background-color: lightcoral;
}
.top h1{
    text-align: center;
    padding-top: 150px; 
}
.bottom h1{
    text-align: center;
    padding-top: 150px;
}
.right h1{
    text-align: center;
    padding-top: 300px;

}